#CONCATENAR Y APENDIZAR DATASETS

In [2]:
import pandas as pd

In [3]:
url_white_wine = 'https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/wine/winequality-white.csv'
white_wine_data = pd.read_csv(url_white_wine,sep = ';')

url_red_wine = 'https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/wine/winequality-red.csv'
red_wine_data = pd.read_csv(url_red_wine, sep = ';')

In [4]:
print('Hay un total de %s vinos tintos' % len(red_wine_data))
print('Hay un total de %s vinos blancos' % len(white_wine_data))

Hay un total de 1599 vinos tintos
Hay un total de 4898 vinos blancos

In [5]:
red_wine_data.columns.values

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

In [6]:
white_wine_data.columns.values

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

En python existen dos tipos de ejes:
* Axis = 0 denota el eje horizontal
* Axis = 1, denota el eje vertical

In [7]:
wine_data = pd.concat([red_wine_data,white_wine_data], axis = 0)
print('Hay un total de %s vinos' % len(wine_data))

Hay un total de 6497 vinos

Todo esto se llama scramblear, y a continuación se va a trabajar con ello extrayendo pequeños datasets y combinándolos. Es importante el orden con el que se incluyen en concat, ya que ese orden es el que va a usar

In [8]:
data1 = wine_data.head(10)
data2 = wine_data[300:310]
data3 = wine_data.tail(10)
wine_scramble = pd.concat([data1, data2, data3], axis = 0)
wine_scramble

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
5               7.4             0.660         0.00  ...       0.56      9.4        5
6               7.9             0.600         0.06  ...       0.46      9.4        5
7               7.3             0.650         0.00  ...       0.47     10.0        7
8               7.8             0.580         0.02  ...       0.57      9.5        7
9               7.5             0.500         0.36  ...       0.80     10.5        5
300             7.5             0.530         0.06  ...       0.59     10.7        6
301            11.1             0.180         0.48  ...       0.64     10.1        6
302             8.3             0.705         0.12  ...       0.72     10.0        5
303             7.4             0.670         0.12  ...       0.54      9.5        5
304             8.4             0.650         0.60  ...       0.52      9.2        5
305            10.3             0.530         0.48  ...       0.59      9.3        6
306             7.6             0.620         0.32  ...       0.52      9.4        5
307            10.3             0.410         0.42  ...       0.62      9.5        6
308            10.3             0.430         0.44  ...       0.63      9.5        6
309             7.4             0.290         0.38  ...       0.53      9.5        6
4888            6.8             0.220         0.36  ...       0.54      9.2        5
4889            4.9             0.235         0.27  ...       0.50      9.4        6
4890            6.1             0.340         0.29  ...       0.44     11.8        6
4891            5.7             0.210         0.32  ...       0.46     10.6        6
4892            6.5             0.230         0.38  ...       0.54      9.7        5
4893            6.2             0.210         0.29  ...       0.50     11.2        6
4894            6.6             0.320         0.36  ...       0.46      9.6        5
4895            6.5             0.240         0.19  ...       0.46      9.4        6
4896            5.5             0.290         0.30  ...       0.38     12.8        7
4897            6.0             0.210         0.38  ...       0.32     11.8        6

[30 rows x 12 columns]

In [9]:
wine_scramble = pd.concat ([data2, data1, data3], axis = 0)
wine_scramble

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
300             7.5             0.530         0.06  ...       0.59     10.7        6
301            11.1             0.180         0.48  ...       0.64     10.1        6
302             8.3             0.705         0.12  ...       0.72     10.0        5
303             7.4             0.670         0.12  ...       0.54      9.5        5
304             8.4             0.650         0.60  ...       0.52      9.2        5
305            10.3             0.530         0.48  ...       0.59      9.3        6
306             7.6             0.620         0.32  ...       0.52      9.4        5
307            10.3             0.410         0.42  ...       0.62      9.5        6
308            10.3             0.430         0.44  ...       0.63      9.5        6
309             7.4             0.290         0.38  ...       0.53      9.5        6
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
5               7.4             0.660         0.00  ...       0.56      9.4        5
6               7.9             0.600         0.06  ...       0.46      9.4        5
7               7.3             0.650         0.00  ...       0.47     10.0        7
8               7.8             0.580         0.02  ...       0.57      9.5        7
9               7.5             0.500         0.36  ...       0.80     10.5        5
4888            6.8             0.220         0.36  ...       0.54      9.2        5
4889            4.9             0.235         0.27  ...       0.50      9.4        6
4890            6.1             0.340         0.29  ...       0.44     11.8        6
4891            5.7             0.210         0.32  ...       0.46     10.6        6
4892            6.5             0.230         0.38  ...       0.54      9.7        5
4893            6.2             0.210         0.29  ...       0.50     11.2        6
4894            6.6             0.320         0.36  ...       0.46      9.6        5
4895            6.5             0.240         0.19  ...       0.46      9.4        6
4896            5.5             0.290         0.30  ...       0.38     12.8        7
4897            6.0             0.210         0.38  ...       0.32     11.8        6

[30 rows x 12 columns]

#DATOS DISTRIBUIDOS
Se tratará en este apartado cómo aglutinar en un único Dataset datos provenientes de diferentes archivos, por ejemplo, lecturas de diferentes sensores

In [10]:
import pandas as pd

#Inicialmente analizaremos el primer fichero para ver cómo está organizado
url_general ='https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/distributed-data/' 
filename = '001.csv'
url_001 = url_general + filename
data_001 = pd.read_csv(url_001)
print(data_001.head())
print(data_001.shape)
#matriz sparse significa que la mayoría de datos no aparecen

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1
(1461, 4)

## SECUENCIA A EJECUTAR
* Importar el primer fichero
* Hacer bucle para ir recorriendo todos y cada uno de los ficheros.
 * Importante tener consistencia en nombre de ficheros.
 * Importar ficheros uno a uno
 * Cada uno de ellos debe apendizarse al primer fichero
* Repetimos el bucle hasta que no queden ficheros

In [11]:
import pandas as pd

url_base = 'https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/distributed-data/' 
filename = '001.csv'
url = url_general + filename
data = pd.read_csv(url)

final_len = len(data)

for i in range(2,333):
  if i < 10:
    filename = '00' + str(i) + '.csv'
  elif i < 100:
    filename = '0' + str(i) + '.csv'
  else:
    filename = str(i) + '.csv'
  url = url_general + filename
  datafile = pd.read_csv(url)
  final_len += len(datafile)
  data = pd.concat([data, datafile], axis = 0)
  final_len

In [48]:
final_len == data.shape[0]

True

In [49]:
data.shape

(772087, 4)

In [50]:
data.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1

In [51]:
data.tail()

           Date  sulfate  nitrate   ID
726  2004-12-27      NaN      NaN  332
727  2004-12-28      NaN      NaN  332
728  2004-12-29      NaN      NaN  332
729  2004-12-30      NaN      NaN  332
730  2004-12-31      NaN      NaN  332

#JOINS DE DATASETS

In [52]:
url_main_data = 'https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/athletes/Medals.csv'
main_data = pd.read_csv(url_main_data, encoding = 'ISO-8859-1')
main_data.head()

            Athlete   Age  Year  ... Silver Medals  Bronze Medals  Total Medals
0    Michael Phelps  23.0  2008  ...             0              0             8
1    Michael Phelps  19.0  2004  ...             0              2             8
2    Michael Phelps  27.0  2012  ...             2              0             6
3  Natalie Coughlin  25.0  2008  ...             2              3             6
4     Aleksey Nemov  24.0  2000  ...             1              3             6

[5 rows x 8 columns]

In [53]:
#como los atletas aparecen varias veces según el año, vamos a ver cuantos atletas salen
athletes = main_data['Athlete'].unique().tolist()
print('Hay %s atletas pero el dataset tiene %s registros' % (len(athletes), main_data.shape[0]))

Hay 6956 atletas pero el dataset tiene 8618 registros

In [54]:
url_data_country = 'https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/athletes/Athelete_Country_Map.csv'
data_country = pd.read_csv(url_data_country, encoding = 'ISO-8859-1')
data_country.head()

            Athlete        Country
0    Michael Phelps  United States
1  Natalie Coughlin  United States
2     Aleksey Nemov         Russia
3     Alicia Coutts      Australia
4    Missy Franklin  United States

In [19]:
len(data_country)

6970

In [20]:
#La diferencia se debe a que algunos paises cambiaron de nombre, por ejemplo...
data_country[data_country['Athlete'] == 'Aleksandar Ciric']

               Athlete                Country
1029  Aleksandar Ciric                 Serbia
1086  Aleksandar Ciric  Serbia and Montenegro

In [21]:
url_data_sports = 'https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/athletes/Athelete_Sports_Map.csv'
data_sports = pd.read_csv(url_data_sports, encoding = 'ISO-8859-1')
data_sports.head()

            Athlete       Sport
0    Michael Phelps    Swimming
1  Natalie Coughlin    Swimming
2     Aleksey Nemov  Gymnastics
3     Alicia Coutts    Swimming
4    Missy Franklin    Swimming

In [22]:
len(data_sports) # Un mismo jugador parece que haya jugado a varios deportes

6975

In [23]:
data_sports[(data_sports['Athlete'] == 'Chen Jing') | 
            (data_sports['Athlete'] == 'Richard Thompson') | 
            (data_sports['Athlete'] == 'Matt Ryan')
            ]

               Athlete         Sport
528   Richard Thompson     Athletics
1308         Chen Jing    Volleyball
1419         Chen Jing  Table Tennis
2727         Matt Ryan        Rowing
5003         Matt Ryan    Equestrian
5691  Richard Thompson      Baseball

In [24]:
main_data_country = pd.merge(left=main_data, right=data_country, left_on='Athlete', right_on='Athlete')
main_data_country

                   Athlete   Age  ...  Total Medals        Country
0           Michael Phelps  23.0  ...             8  United States
1           Michael Phelps  19.0  ...             8  United States
2           Michael Phelps  27.0  ...             6  United States
3         Natalie Coughlin  25.0  ...             6  United States
4         Natalie Coughlin  21.0  ...             5  United States
...                    ...   ...  ...           ...            ...
8652      Olena Sadovnycha  32.0  ...             1        Ukraine
8653      Kateryna Serdiuk  17.0  ...             1        Ukraine
8654      Wietse van Alten  21.0  ...             1    Netherlands
8655  Sandra Wagner-Sachse  31.0  ...             1        Germany
8656             Rod White  23.0  ...             1  United States

[8657 rows x 9 columns]

In [25]:
main_data_country.shape

(8657, 9)

In [26]:
#se ve que si no indicamos nada, hace un outer join, que es que aparecen todos (derecha e izquierda)
#ojo que si un jugador ha participado por dos paises, habrá duplicado sus medallas, porque lo habrá puesto con un país y luego con otro
#esto pasa por archivos que tenga datos de uno a muchos, como pasa con country y con sports, y debería ser uno a uno para evitar esta duplicación
main_data_country[main_data_country['Athlete'] == 'Aleksandar Ciric']

               Athlete   Age  ...  Total Medals                Country
1503  Aleksandar Ciric  30.0  ...             1                 Serbia
1504  Aleksandar Ciric  30.0  ...             1  Serbia and Montenegro
1505  Aleksandar Ciric  26.0  ...             1                 Serbia
1506  Aleksandar Ciric  26.0  ...             1  Serbia and Montenegro
1507  Aleksandar Ciric  22.0  ...             1                 Serbia
1508  Aleksandar Ciric  22.0  ...             1  Serbia and Montenegro

[6 rows x 9 columns]

In [27]:
#para evitar estas duplicidades, simplificaremos los datos de los datasets country y sports

In [28]:
data_country_unique = data_country.drop_duplicates(subset='Athlete')
data_country_unique.shape

(6956, 2)

In [29]:
data_country_unique[data_country_unique['Athlete'] == 'Aleksandar Ciric']

               Athlete Country
1029  Aleksandar Ciric  Serbia

In [30]:
len(data_country_unique) == len(athletes) #Ahora ya los atletas únicos en main_data y en data_country_unique son los mismos

True

In [31]:
data_main_country_unique = pd.merge(left = main_data, right = data_country_unique, left_on='Athlete', right_on='Athlete')
data_main_country_unique.shape

(8618, 9)

In [32]:
data_main_country_unique[data_main_country_unique['Athlete'] == 'Aleksandar Ciric']

               Athlete   Age  Year  ... Bronze Medals  Total Medals  Country
1491  Aleksandar Ciric  30.0  2008  ...             1             1   Serbia
1492  Aleksandar Ciric  26.0  2004  ...             0             1   Serbia
1493  Aleksandar Ciric  22.0  2000  ...             1             1   Serbia

[3 rows x 9 columns]

In [33]:
data_sports_unique = data_sports.drop_duplicates(subset='Athlete')
len(data_sports_unique) == len(athletes)

True

In [34]:
data_main_country_sports_unique = pd.merge(left=data_main_country_unique, right=data_sports_unique,left_on='Athlete', right_on='Athlete')
data_main_country_sports_unique.shape

(8618, 10)

In [35]:
data_main_country_sports_unique

                   Athlete   Age  Year  ... Total Medals        Country     Sport
0           Michael Phelps  23.0  2008  ...            8  United States  Swimming
1           Michael Phelps  19.0  2004  ...            8  United States  Swimming
2           Michael Phelps  27.0  2012  ...            6  United States  Swimming
3         Natalie Coughlin  25.0  2008  ...            6  United States  Swimming
4         Natalie Coughlin  21.0  2004  ...            5  United States  Swimming
...                    ...   ...   ...  ...          ...            ...       ...
8613      Olena Sadovnycha  32.0  2000  ...            1        Ukraine   Archery
8614      Kateryna Serdiuk  17.0  2000  ...            1        Ukraine   Archery
8615      Wietse van Alten  21.0  2000  ...            1    Netherlands   Archery
8616  Sandra Wagner-Sachse  31.0  2000  ...            1        Germany   Archery
8617             Rod White  23.0  2000  ...            1  United States   Archery

[8618 rows x 10 columns]

In [36]:
from IPython.display import Image #para poder mostrar imágenes

In [37]:
url_inner_join = 'https://github.com/javilledo/python-ml-course/blob/master/notebooks/resources/inner-join.png'
Image(url=url_inner_join)

##TIPOS DE JOINS

In [38]:
import numpy as np

#vamos a tomar datos aleatorios del dataset para eliminar datos, y así poder probar los diferentes tipos de joins
out_athletes = np.random.choice(main_data['Athlete'],size = 6, replace = False)

In [39]:
data_country_delete = data_country_unique[(~data_country_unique['Athlete'].isin(out_athletes) ) & 
                                          (data_country_unique['Athlete'] != 'Michael Phelps')
                                          ]
len(data_country_unique) - len(data_country_delete)

7

In [40]:
data_sports_delete = data_sports_unique[(~data_sports_unique['Athlete'].isin(out_athletes)) &
                                        (data_sports_unique['Athlete'] != 'Michael Phelps')
                                        ]
len(data_sports_unique) - len(data_sports_delete)

7

In [58]:
#main_data tiene toda la información
#data_country_delete le faltan datos de 7 deportistas
merged_inner = pd.merge(left=main_data, right=data_country_delete, left_on='Athlete', right_on='Athlete', how='inner')
print('main_data tiene %s registros' % len(main_data))
print('data_country_delete tiene %s registros' % len(data_country_delete))
print('merged_inner tiene %s registros' % len(merged_inner))

main_data tiene 8618 registros
data_country_delete tiene 6949 registros
merged_inner tiene 8607 registros

In [42]:
merged_inner.head()

            Athlete   Age  Year  ... Bronze Medals  Total Medals        Country
0  Natalie Coughlin  25.0  2008  ...             3             6  United States
1  Natalie Coughlin  21.0  2004  ...             1             5  United States
2  Natalie Coughlin  29.0  2012  ...             1             1  United States
3     Aleksey Nemov  24.0  2000  ...             3             6         Russia
4     Alicia Coutts  24.0  2012  ...             1             5      Australia

[5 rows x 9 columns]

In [43]:
#main_data tiene toda la información
#data_country_delete le faltan datos de 7 deportistas
merged_left = pd.merge(left=main_data, right=data_country_delete, left_on='Athlete', right_on='Athlete', how='left')
print('main_data tiene %s registros' % len(main_data))
print('data_country_delete tiene %s registros' % len(data_country_delete))
print('merged_left tiene %s registros' % len(merged_left))

main_data tiene 8618 registros
data_country_delete tiene 6949 registros
merged_left tiene 8618 registros

In [44]:
merged_left.head()

            Athlete   Age  Year  ... Bronze Medals  Total Medals        Country
0    Michael Phelps  23.0  2008  ...             0             8            NaN
1    Michael Phelps  19.0  2004  ...             2             8            NaN
2    Michael Phelps  27.0  2012  ...             0             6            NaN
3  Natalie Coughlin  25.0  2008  ...             3             6  United States
4     Aleksey Nemov  24.0  2000  ...             3             6         Russia

[5 rows x 9 columns]

In [67]:
#main_data tiene toda la información
#data_country_delete le faltan datos de 7 deportistas
merged_right = pd.merge(left=main_data, right=data_country_delete, left_on='Athlete', right_on='Athlete', how='right')
print('main_data tiene %s registros' % len(main_data))
print('data_country_delete tiene %s registros' % len(data_country_delete))
print('merged_right tiene %s registros' % len(merged_right))

main_data tiene 8618 registros
data_country_delete tiene 6950 registros
merged_right tiene 8608 registros

In [46]:
merged_right

                   Athlete   Age  ...  Total Medals        Country
0         Natalie Coughlin  25.0  ...             6  United States
1         Natalie Coughlin  21.0  ...             5  United States
2         Natalie Coughlin  29.0  ...             1  United States
3            Aleksey Nemov  24.0  ...             6         Russia
4            Alicia Coutts  24.0  ...             5      Australia
...                    ...   ...  ...           ...            ...
8602      Olena Sadovnycha  32.0  ...             1        Ukraine
8603      Kateryna Serdiuk  17.0  ...             1        Ukraine
8604      Wietse van Alten  21.0  ...             1    Netherlands
8605  Sandra Wagner-Sachse  31.0  ...             1        Germany
8606             Rod White  23.0  ...             1  United States

[8607 rows x 9 columns]

In [60]:
#main_data tiene toda la información
#data_country_delete le faltan datos de 7 deportistas
merged_right = pd.merge(left=main_data, right=data_country_delete, left_on='Athlete', right_on='Athlete', how='outer')
print('main_data tiene %s registros' % len(main_data))
print('data_country_delete tiene %s registros' % len(data_country_delete))
print('merged_right tiene %s registros' % len(merged_right))

main_data tiene 8618 registros
data_country_delete tiene 6949 registros
merged_right tiene 8618 registros

In [65]:
data_country_delete = data_country_delete.append(
    {
        'Athlete': 'Javier Lledó',
        'Country': 'Spain',
    }, ignore_index=True
)
data_country_delete

                   Athlete        Country
0         Natalie Coughlin  United States
1            Aleksey Nemov         Russia
2            Alicia Coutts      Australia
3           Missy Franklin  United States
4              Ryan Lochte  United States
...                    ...            ...
6945      Kateryna Serdiuk        Ukraine
6946      Wietse van Alten    Netherlands
6947  Sandra Wagner-Sachse        Germany
6948             Rod White  United States
6949          Javier Lledó          Spain

[6950 rows x 2 columns]

In [66]:
#main_data tiene toda la información
#data_country_delete le faltan datos de 7 deportistas
merged_right = pd.merge(left=main_data, right=data_country_delete, left_on='Athlete', right_on='Athlete', how='outer')
print('main_data tiene %s registros' % len(main_data))
print('data_country_delete tiene %s registros' % len(data_country_delete))
print('merged_right tiene %s registros' % len(merged_right))

main_data tiene 8618 registros
data_country_delete tiene 6950 registros
merged_right tiene 8619 registros

In [72]:
from IPython.display import Image
url_image= 'https://raw.githubusercontent.com/javilledo/python-ml-course/master/notebooks/resources/inner-join.png'
Image(url = url_image)

IMAGEN COMO HTML
<img src="https://raw.githubusercontent.com/javilledo/python-ml-course/master/notebooks/resources/inner-join.png">